<div class="w-full flex flex-row justify-between text-white ">
  <div class="ml-4 mt-3 mb-3 flex flex-col">
    <span class="text-xl">{{title}}</span>
    <span class="text-xs">{{subtitle}}</span>
  </div>
  <div class="mr-4 mt-4 text-center">
    <button translate (click)="refresh()" class="button button-green-enabled mr-4">SIDEBAR.REFRESH_CACHE</button>
    <button translate (click)="help()" class="button button-green-enabled">SIDEBAR.HELP</button>
  </div>
</div>

<app-help *ngIf="helpShown" [title]="helpCurrent.title" [lines]="helpCurrent.lines" (emitter)="hideHelp()" [innerHelp]="true"></app-help>
