<div class="flex flex-col align-center shadow-md">

  <div class="m-4 flex justify-between text-lg">
    <span>{{isCollectionShown ? 'Maps in Your Collection' : 'All (Your) Maps'}}</span>
  </div>

  <div class="w-full top-bar z-10 h-16">
    <div class="flex flex-row items-center h-full text-xl pl-4 pt-2">
      <button (click)="changeView()" class="button button-green-enabled">{{isCollectionShown ? 'Swap to All Maps View': 'Swap to Collection Maps View'}}</button>
      <button *ngIf="!isCollectionShown" (click)="addMaps()" [disabled]="selected.size < 1" [ngClass]="selected.size < 1 ? 'button-blue-disabled' : 'button-blue-enabled'" class="ml-4 button">Add to Collection</button>
      <button *ngIf="isCollectionShown" (click)="showRemoveModal()" [disabled]="selected.size < 1" [ngClass]="selected.size < 1 ? 'button-red-disabled' : 'button-red-enabled'" class="ml-4 button">Remove from Collection</button>
      <app-filter-select [ngClass]="filterNumber ? 'w-52' : ''" class="ml-4 text-sm z-10" (emitter)="changeSelected($event)"></app-filter-select>
      <span class="ml-4 text-lg">{{selected.size}} Maps Selected</span>
    </div>
  </div>

  <div>
    <input class="z-0 pl-4 mt-2 mb-m4 search w-full rounded-sm h-8 focus:outline-none" (input)="onChange($event)" placeholder="Search using regular osu! filters... e.g. stars>5 bpm<200 length<120. Apply mods with +HR etc to change SR and difficulty settings."/>
  </div>

  <ngx-table
    #table class="z-0"
    [id]="'beatmaps'"
    [configuration]="configuration"
    [data]="shownMaps"
    [columns]="beatmapColumns"
    [loadingTemplate]="loadingTemplate"
    [noResultsTemplate]="noResultsTemplate"
    (event)="eventEmitted($event)"
  >
      <ng-template let-row let-index="index">
        <td class="">
          <div class="form-group">
            <label class="form-checkbox">
              <input type="checkbox" class="ml-3" [checked]="isChecked(row)" (click)="checkBoxSelect(row)"/>
              <i class="form-icon"></i>
            </label>
          </div>
        </td>
        <td>
          <a *ngIf="!row.song" (click)="openUrl(row.setId)" class="text-blue-400 cursor-pointer hover:underline">Map Missing {{row.setId}}</a>
          <span *ngIf="row.song">{{limitTextLength(row.song, 20)}}</span>
        </td>
        <td>{{limitTextLength(row?.artist??"", 10)}}</td>
        <td>{{limitTextLength(row?.creator??"", 10)}}</td>
        <td>{{limitTextLength(row?.difficulty??"", 10)}}</td>
        <td>{{(row?.sr??0).toFixed(3)}}</td>
        <td>{{row?.bpm??0}}</td>
        <td>{{(row?.hp??0).toFixed(1)}}</td>
        <td>{{(row?.od??0).toFixed(1)}}</td>
        <td>{{(row?.ar??0).toFixed(1)}}</td>
        <td>{{(row?.cs??0).toFixed(1)}}</td>
        <td>{{row?.drain??0}}</td>
    </ng-template>

  </ngx-table>

  <app-pagination *ngIf="!configuration.isLoading" [pageNumber]="pageNumber" (emitter)="pageUpdate($event)" [showNumberResults]="true" [numberResults]="numberResults" [rowsPerPage]="10"></app-pagination>

</div>

<ng-template #loadingTemplate>
  <td [attr.colspan]="beatmapColumns.length">
    <div class="my-4 text-center">{{isCollectionShown ? "Loading collection maps..." : "Loading all cached maps..."}}</div>
  </td>
</ng-template>

<ng-template #noResultsTemplate>
  <td [attr.colspan]="beatmapColumns.length">
    <span class="p-2">{{(isCollectionShown && !selectedCollection.numberMaps) ? "No maps in this collection! Swap to all maps view to add maps" : "No results"}}</span>
  </td>
</ng-template>

<app-confirm-modal *ngIf="removeModal" (response)="removeResponse($event)" title="Remove Map(s)" text="Are you sure you want to remove the map(s) from the collection(s)? This action CAN be undone if you restore your backup." confirmText="Remove"></app-confirm-modal>
<app-loading-bar *ngIf="isChangingCollection" text="Writing Collection..." mode="indeterminate"></app-loading-bar>


