<div class="fixed modal">

  <div class="bg-white dark:bg-dark1 rounded-md flex flex-col max-w-120 shadow-sm">
    <div class="mx-8 mt-8 text-xl">{{title}}</div>
    <div class="mx-8">{{text}}</div>
    <div class="my-4 mt-8 flex flex-row justify-center w-full">
      <button translate (click)="hide()" class="button button-blue-enabled button-large">BUTTONS.CANCEL</button>
      <button (click)="confirmAction()" class="ml-8 button button-red-enabled button-large">{{confirmText}}</button>
    </div>
  </div>

</div>
