<div class="flex flex-row w-screen h-screen">
  <app-sidebar [version]="version"></app-sidebar>
  <div class="flex flex-col w-full h-full">
    <app-header class="bg-one dark:bg-black"></app-header>
    <div class="h-full w-full bg-default dark:bg-dark0">
      <div class="bg-white dark:bg-dark1 m-4 rounded-sm dark:text-gray-300">
        <app-help *ngIf="launch && display!=allTypes.SETUP && display!=allTypes.LOADING" title="Welcome to Collection Helper!" [lines]="lines" (emitter)="hideLaunch()"></app-help>
        <app-home class="shadow-md" *ngIf="display==allTypes.COLLECTIONS" class="rounded-sm"></app-home>
        <app-loading *ngIf="display==allTypes.LOADING" class="rounded-sm"></app-loading>
        <app-edit *ngIf="display==allTypes.EDIT" class="rounded-sm"></app-edit>
        <app-settings-modal *ngIf="display==allTypes.SETUP" [path]="installationPath" mode="new"></app-settings-modal>
        <app-settings *ngIf="display==allTypes.SETTINGS"></app-settings>
        <app-filters *ngIf="display==allTypes.FILTERS"></app-filters>
        <app-customfilter *ngIf="display==allTypes.CUSTOM_FILTERS"></app-customfilter>
        <app-importexport *ngIf="display==allTypes.IMPORT_EXPORT"></app-importexport>
        <app-practice-diffs *ngIf="display==allTypes.PRACTICE_DIFF_GENERATOR"></app-practice-diffs>
        <app-bpm-changer *ngIf="display==allTypes.BPM_CHANGER"></app-bpm-changer>
      </div>
    </div>
  </div>
</div>

<app-update *ngIf="update" (emitter)="hideUpdate($event)" [downloaded]="downloaded"></app-update>
