<div class="flex flex-row w-screen h-screen">
  <app-sidebar [version]="version"></app-sidebar>
  <div class="flex flex-col w-full h-full">
    <app-header class="bg-one"></app-header>
    <div class="h-full w-full bg-gray-200">
      <div class="bg-white m-4 rounded-sm">
        <app-help *ngIf="launch" title="Welcome to the Collection Helper Beta!" [lines]="lines" (emitter)="hideLaunch()"></app-help>
        <app-home class="shadow-md" *ngIf="display==allTypes.COLLECTIONS" class="rounded-sm"></app-home>
        <app-loading *ngIf="display==allTypes.LOADING" class="rounded-sm"></app-loading>
        <app-edit *ngIf="display==allTypes.EDIT" class="rounded-sm"></app-edit>
        <app-settings-modal *ngIf="display==allTypes.SETUP" [path]="installationPath"></app-settings-modal>
        <app-settings *ngIf="display==allTypes.SETTINGS"></app-settings>
        <app-filters *ngIf="display==allTypes.FILTERS"></app-filters>
        <app-customfilter *ngIf="display==allTypes.CUSTOM_FILTERS"></app-customfilter>
        <app-importexport *ngIf="display==allTypes.IMPORT_EXPORT"></app-importexport>
      </div>
    </div>
  </div>
</div>

<app-update *ngIf="update" (emitter)="hideUpdate($event)" [downloaded]="downloaded"></app-update>
