<div class="m-4 flex flex-row items-center">
  <button (click)="pageUpdate(-1)" [ngClass]="pageNumber==1 ? 'button-blue-disabled' : 'button-blue-enabled'" [disabled]="pageNumber==1" class="button">⟵</button>
  <span class="ml-4">{{(pageNumber*rowsPerPage)-(rowsPerPage-1) + "-" + pageNumber*rowsPerPage}}</span>
  <button (click)="pageUpdate(1)" [ngClass]="pageNumber*rowsPerPage >= numberResults ? 'button-blue-disabled' : 'button-blue-enabled'" [disabled]="pageNumber*rowsPerPage >= numberResults" class="ml-4 button">⟶</button>
  <span *ngIf="showNumberResults" class="ml-4">{{"Found: " + numberResults + " Result(s)"}}</span>
</div>
