<div class="flex flex-col p-4 shadow-md">

  <div class="flex flex-col">
    <div class="flex flex-row items-center w-full">
      <span translate>MISC.NAME</span>
      <input class="ml-4 border border-gray-400 dark:border-black focus:outline-none" type="text" [(ngModel)]="inputValue" (ngModelChange)="onNameChange($event)">
      <span translate class="ml-4">MISC.DESCRIPTION</span>
      <input class="ml-4 w-full border border-gray-400 dark:border-black focus:outline-none" type="text" [(ngModel)]="description">
    </div>
    <div class="flex mt-2 flex-row items-center">
      <span translate class="mr-2">PAGES.CUSTOM_FILTER.GET_OBJECTS</span>
      <input [(ngModel)]="getHitObjects" type="checkbox">
    </div>

    <div class="mt-2">
      <span translate>PAGES.CUSTOM_FILTER.TIPS.ONE</span>
      <a translate (click)="openDoc()" class="text-blue-400 cursor-pointer hover:underline mx-1">PAGES.CUSTOM_FILTER.TIPS.TWO</a>
      <span translate>PAGES.CUSTOM_FILTER.TIPS.THREE</span>
      <span translate (click)="openVid()" class="text-blue-400 cursor-pointer hover:underline mx-1">PAGES.CUSTOM_FILTER.TIPS.FOUR</span>
      <br />
      <span translate>PAGES.CUSTOM_FILTER.TIPS.FIVE</span>
    </div>

  </div>

  <div class="mt-2 h-96 border border-gray-200 dark:border-black">
    <ngx-monaco-editor [options]="editorOptions" style="height: 100%" [(ngModel)]="content"></ngx-monaco-editor>
  </div>

  <div class="flex flex-row mt-4 items-center">
    <button [disabled]="validFilter()" [ngClass]="validFilter() ? 'button-blue-disabled' : 'button-blue-enabled'" class="button" (click)="save()">{{editFilter ? ('BUTTONS.SAVE_CUSTOM_FILTER' | translate) : ('BUTTONS.ADD_CUSTOM_FILTER' | translate)}}</button>
    <button translate class="ml-4 button button-green-enabled" (click)="test()">BUTTONS.TEST_FILTER</button>
    <app-collection-dropdown class="ml-4 z-10 w-96 h-10 dark:bg-dark1" (emitter)="onCollectionChange($event)" [placeHolder]="'PAGES.CUSTOM_FILTER.PLACEHOLDER' | translate"></app-collection-dropdown>
    <span translate *ngIf="alreadyExists" class="ml-4 text-red-600">PAGES.CUSTOM_FILTER.NAME_EXISTS</span>
    <span translate *ngIf="!tested.status || content != tested.text" class="ml-4 text-red-600">PAGES.CUSTOM_FILTER.NOT_TESTED</span>
    <span translate *ngIf="!inputValue" class="ml-4 text-red-600">PAGES.CUSTOM_FILTER.NAME_REQUIRED</span>
  </div>

  <div *ngIf="filteredText.length || rawError.length " class="flex flex-col mt-4">
    <span class="text-sm">{{'PAGES.CUSTOM_FILTER.RESULT' | translate:(rawError.length ? {value: "Failed"} : {value: numberResult + "/" + totalTested})}}</span>
    <div class="h-52 border border-gray-200 dark:border-black">
      <ngx-monaco-editor [options]="editorOptions" style="height: 100%" [(ngModel)]="rawError.length ? errorText : filteredText"></ngx-monaco-editor>
    </div>
  </div>
</div>

<app-loading-bar *ngIf="gettingData" [text]="'PAGES.CUSTOM_FILTER.LOADING' | translate" mode="indeterminate"></app-loading-bar>

