<div class="flex flex-col p-4 shadow-md">

  <div class="flex flex-col">
    <div class="flex flex-row items-center w-full">
      <span>Name: </span>
      <input class="ml-4 border border-gray-400 dark:border-black focus:outline-none" type="text" [(ngModel)]="inputValue" (ngModelChange)="onNameChange($event)">
      <span class="ml-4">Description: </span>
      <input class="ml-4 w-full border border-gray-400 dark:border-black focus:outline-none" type="text" [(ngModel)]="description">
    </div>
    <div class="flex mt-2 flex-row items-center">
      <span class="mr-2">Get Hit Objects?</span>
      <input [(ngModel)]="getHitObjects" type="checkbox">
    </div>

    <span class="mt-2">
      Write a JavaScript function to filter your beatmaps. See <a (click)="openDoc()" class="text-blue-400 cursor-pointer">documentation</a> or the <span (click)="openVid()" class="text-blue-400 cursor-pointer">video guide</span>
      <br />
      After you have created a filter, you should generate its cache in the filters menu to use it.
    </span>

  </div>

  <div class="mt-2 h-96 border border-gray-200 dark:border-black">
    <ngx-monaco-editor [options]="editorOptions" style="height: 100%" [(ngModel)]="content"></ngx-monaco-editor>
  </div>

  <div class="flex flex-row mt-4 items-center">
    <button [disabled]="validFilter()" [ngClass]="validFilter() ? 'button-blue-disabled' : 'button-blue-enabled'" class="button" (click)="save()">{{editFilter ? "Save" : "Add"}} filter</button>
    <button class="ml-4 button button-green-enabled" (click)="test()">Test filter</button>
    <app-collection-dropdown class="ml-4 z-10 w-96 h-10 dark:bg-dark1" (emitter)="onCollectionChange($event)" placeHolder="Collection to test filter on (optional)"></app-collection-dropdown>
    <span *ngIf="alreadyExists" class="ml-4 text-red-600">Name Already Exists!</span>
    <span *ngIf="!tested.status || content != tested.text" class="ml-4 text-red-600">Filter Not Tested!</span>
    <span *ngIf="!inputValue" class="ml-4 text-red-600">Filter Name Required!</span>
  </div>

  <div *ngIf="filteredText.length || rawError.length " class="flex flex-col mt-4">
    <span class="text-sm">Test Result: {{rawError.length ? "Failed" : numberResult + "/" + totalTested}}</span>
    <div class="h-52 border border-gray-200 dark:border-black">
      <ngx-monaco-editor [options]="editorOptions" style="height: 100%" [(ngModel)]="rawError.length ? errorText : filteredText"></ngx-monaco-editor>
    </div>
  </div>
</div>

<app-loading-bar *ngIf="gettingData" text="Getting Beatmap Data..." mode="indeterminate"></app-loading-bar>

