<div class="flex flex-col shadow-md">

  <div class="ml-4 my-4 flex flex-col text-lg">
    <span translate class="">PAGES.FILTERS.TIPS.ONE</span>
    <span translate class="font-semibold">PAGES.FILTERS.TIPS.TWO</span>
    <span translate class="">PAGES.FILTERS.TIPS.THREE</span>
    <span translate>PAGES.FILTERS.TIPS.FOUR</span>
  </div>

  <div class="w-full z-10 mb-2">
    <div class="flex flex-row items-center h-full text-xl ml-4">
      <button translate (click)="generateCache(null)" [disabled]="selected.size == 0" [ngClass]="selected.size == 0 ? 'button-blue-disabled' : 'button-blue-enabled'" class="button">BUTTONS.GENERATE_CACHE</button>
      <button translate (click)="showRemoveModal(null)" [disabled]="selected.size == 0" [ngClass]="selected.size == 0 ? 'button-red-disabled' : 'button-red-enabled'" class="mx-4 button">BUTTONS.REMOVE</button>
      <button translate value="add" class="button button-blue-enabled" (click)="addFilter()">BUTTONS.ADD_FILTER</button>
      <span class="ml-4 text-lg">{{ 'MISC.SELECTED' | translate:({value: selected.size}) }}</span>
    </div>
  </div>

  <div>
    <input class="pl-2 mt-2 mb-m4 search w-full rounded-sm h-8 focus:outline-none" (input)="onChange($event)" placeholder="Search..."/>
  </div>

  <ngx-table
    #table class=""
    [configuration]="configuration"
    [data]="filters"
    [columns]="columns"
    (event)="eventEmitted($event)"
  >
    <ng-template let-row let-index="index">
      <td>
        <div class="form-group">
          <label class="form-checkbox">
            <input type="checkbox" class="ml-3" [checked]="isChecked(row)" (click)="checkBoxSelect(row)"/>
            <i class="form-icon"></i>
          </label>
        </div>
      </td>
      <td>
        {{limitTextLength(row.name, 30)}}
      </td>
      <td>
        {{row.isCached ? ('BUTTONS.YES' | translate) : ('BUTTONS.NO' | translate)}}
      </td>
      <td>
        {{row.description}}
      </td>
      <td>
        <div class="flex flex-row">
          <button translate class="button button-blue-enabled" (click)="edit(row)">BUTTONS.EDIT</button>
          <button translate class="button button-blue-enabled ml-4" (click)="generateCache(row)">BUTTONS.GENERATE_CACHE</button>
          <button translate class="button button-red-enabled mx-4 text-sm" (click)="showRemoveModal(row)">BUTTONS.REMOVE</button>
        </div>
      </td>
    </ng-template>
  </ngx-table>

  <app-pagination (emitter)="pageUpdate($event)" [pageNumber]="pageNumber" [rowsPerPage]="10" [showNumberResults]="true" [numberResults]="numberResults()"></app-pagination>

</div>

<app-loading-bar *ngIf="generatingModal" [text]="'PAGES.FILTERS.LOADING' | translate" mode="determinate" [percentage]="percentage"></app-loading-bar>
<app-confirm-modal *ngIf="removeModal" (response)="removeResponse($event)" [title]="'PAGES.FILTERS.MODALS.REMOVE.TITLE' | translate" [text]="'PAGES.FILTERS.MODALS.REMOVE.TEXT' | translate" [confirmText]="'BUTTONS.REMOVE' | translate"></app-confirm-modal>
