<div class="flex flex-col shadow-md">

  <div class="border-yellow-400 rounded p-2 m-4 mb-0 text-lg border">
    <span translate>MISC.STREAM_FILTER_UPDATE</span>
    <a translate href="https://pastebin.com/K1fSpKpQ" class="text-blue-400 hover:underline ml-1">MISC.HERE</a>.
  </div>

  <div class="w-full z-10 h-16">
    <div class="flex flex-row items-center h-full text-xl pl-4 pt-2 ">
      <button (click)="showMergeModal()" [disabled]="selected.size < 2" [ngClass]="selected.size < 2 ? 'button-blue-disabled' : 'button-blue-enabled'" class="button">{{ 'BUTTONS.MERGE' | translate }}</button>
      <button [disabled]="selected.size == 0" [ngClass]="selected.size == 0 ? 'button-red-disabled' : 'button-red-enabled'" class="mx-4 button" (click)="showRemoveModal('Mass')">{{ 'BUTTONS.REMOVE' | translate }}</button>
      <button value="add" class="button button-blue-enabled" (click)="showAddModal()">{{ 'BUTTONS.ADD_COLLECTION' | translate }}</button>
      <span class="ml-4 text-lg">{{ 'MISC.SELECTED' | translate:({value: selected.size}) }}</span>
    </div>
  </div>

  <div>
    <input class="pl-4 mt-2 mb-m4 search w-full rounded-sm h-8 focus:outline-none" (input)="onChange($event)" [placeholder]="'MISC.SEARCH' | translate"/>
  </div>

  <ngx-table #table class=""
    [configuration]="configuration"
    [data]="collections"
    [columns]="columns"
    (event)="eventEmitted($event)">

    <ng-template let-row let-index="index">
      <td class="">
        <div class="form-group">
          <label class="form-checkbox">
            <input class="dark:bg-dark1" type="checkbox" class="ml-3" [checked]="isChecked(row)" (click)="checkBoxSelect(row)"/>
            <i class="form-icon"></i>
          </label>
        </div>
      </td>
      <td class="">
        <a (click)="select(row)" class="text-blue-400 cursor-pointer hover:underline">
          {{row.name}}
        </a>
      </td>
      <td class="">
        {{row.numberMaps}}
      </td>
      <td class="">
        <div class="flex flex-row">
          <button class="button button-blue-enabled text-sm" (click)="select(row)">{{ 'BUTTONS.EDIT' | translate }}</button>
          <button class="button button-red-enabled mx-4 text-sm" (click)="showRemoveModal('Single')">{{ 'BUTTONS.REMOVE' | translate }}</button>
          <button class="button button-blue-enabled text-sm" (click)="showRenameModal()">{{ 'BUTTONS.RENAME' | translate }}</button>
        </div>
      </td>
    </ng-template>
  </ngx-table>

  <app-pagination (emitter)="pageUpdate($event)" [pageNumber]="pageNumber" [rowsPerPage]=10 [showNumberResults]="true" [numberResults]="numberResults()"></app-pagination>

</div>

<app-confirm-modal *ngIf="removeModal" (response)="removeResponse($event)" [title]="'PAGES.HOME.MODALS.REMOVE.TITLE' | translate" [text]="'PAGES.HOME.MODALS.REMOVE.TEXT' | translate" [confirmText]="'BUTTONS.REMOVE' | translate"></app-confirm-modal>
<app-rename-modal *ngIf="mergeModal" (response)="mergeResponse($event)" [title]="'PAGES.HOME.MODALS.MERGE.TITLE' | translate" [list]="names" value="" [action]="'BUTTONS.MERGE' | translate"></app-rename-modal>
<app-rename-modal *ngIf="renameModal" (response)="renameResponse($event)" [title]="'PAGES.HOME.MODALS.RENAME.TITLE' | translate" [action]="'BUTTONS.RENAME' | translate" [list]="names" [value]="singleSelected.name"></app-rename-modal>
<app-add-modal *ngIf="addModal" (response)="addResponse($event)" [list]="names"></app-add-modal>
<app-loading-bar *ngIf="loading" mode="indeterminate" [text]="'MISC.LOADING' | translate"></app-loading-bar>
