<div class="flex flex-col p-4">
  <span translate class="text-lg">PAGES.PRACTICE.TIPS.ONE</span>
  <span translate class="text-lg">PAGES.PRACTICE.TIPS.TWO</span>
  <span translate class="text-lg">PAGES.PRACTICE.TIPS.THREE</span>
  <span translate class="text-lg">PAGES.PRACTICE.TIPS.FOUR</span>
  <span translate class="text-lg mt-4">PAGES.PRACTICE.TIPS.FIVE</span>
  <span translate class="text-lg my-4 font-semibold">PAGES.PRACTICE.TIPS.SIX</span>
  <div class="flex flex-row items-center">
    <span translate>PAGES.PRACTICE.COLLECTION</span>
    <app-collection-dropdown class="ml-4 z-10 w-96 h-10" (emitter)="onChange($event)" [placeHolder]="'MISC.NONE_SELECTED' | translate"></app-collection-dropdown>
  </div>
  <div class="flex flex-row items-center mt-4">
    <span translate>PAGES.PRACTICE.PREFERRED</span>
    <input class="ml-4 border border-gray-700 dark:bg-dark1 dark:border-black focus:outline-none" type="text" [(ngModel)]="length" (keypress)="lengthChange($event)">
  </div>
  <button translate [disabled]="!selected" [ngClass]="!selected ? 'button-blue-disabled' : 'button-blue-enabled'" (click)="generate()" class="mt-4 button w-36">BUTTONS.GENERATE</button>
</div>

<app-loading-bar *ngIf="generatingModal" [text]="'PAGES.PRACTICE.LOADING' | translate" mode="determinate" [percentage]="percentage"></app-loading-bar>
<app-help *ngIf="warning" [title]="'MISC.WARNING' | translate" [lines]="['MISC.WARNING_TEXT' | translate]" (emitter)="hideWarning()"></app-help>
