<div class="flex flex-col p-4">
  <span translate class="text-lg mb-4">PAGES.DIFF_CHANGER.TIPS.ONE</span>
  <span translate class="text-lg">PAGES.DIFF_CHANGER.TIPS.TWO</span>
  <span translate class="text-lg">PAGES.DIFF_CHANGER.TIPS.THREE</span>
  <span translate class="text-lg mt-4">PAGES.DIFF_CHANGER.TIPS.FOUR</span>
  <span translate class="text-lg my-4 font-semibold">PAGES.DIFF_CHANGER.TIPS.FIVE</span>
  <div class="flex flex-row items-center">
    <span translate class="w-32">MISC.COLLECTION</span>
    <input type="checkbox" class="invisible">
    <app-collection-dropdown class="ml-4 z-10 w-96 h-10" (emitter)="onChange($event)" [placeHolder]="'MISC.NONE_SELECTED' | translate"></app-collection-dropdown>
  </div>
  <div class="flex flex-row items-center mt-4">
    <span class="w-32">{{'MISC.SET' | translate}} BPM</span>
    <input type="checkbox" [(ngModel)]="options.bpm.enabled" (ngModelChange)="updateEstimate()">
    <input class="ml-4 w-96 border border-gray-700 dark:bg-dark1 dark:border-black focus:outline-none" type="text" [(ngModel)]="inputValueBpm" (keypress)="bpmChange($event)" (ngModelChange)="inputBpmUpdate()">
  </div>
  <div class="flex flex-row items-center mt-6">
    <span class="w-32">{{'MISC.SET' | translate}} AR</span>
    <app-value-override-slider [(value)]="options.ar.value" [(enabled)]="options.ar.enabled"></app-value-override-slider>
  </div>
  <div class="flex flex-row items-center mt-6">
    <span class="w-32">{{'MISC.SET' | translate}} OD</span>
    <app-value-override-slider [(value)]="options.od.value" [(enabled)]="options.od.enabled"></app-value-override-slider>
  </div>
  <div class="flex flex-row items-center mt-6">
    <span class="w-32">{{'MISC.SET' | translate}} HP</span>
    <app-value-override-slider [(value)]="options.hp.value" [(enabled)]="options.hp.enabled"></app-value-override-slider>
  </div>
  <div class="flex flex-row items-center mt-6">
    <span class="w-32">{{'MISC.SET' | translate}} CS</span>
    <app-value-override-slider [(value)]="options.cs.value" [(enabled)]="options.cs.enabled"></app-value-override-slider>
  </div>

  <div class="flex flex-row items-center mt-6">
    <button translate [disabled]="generationDisabled()" [ngClass]="generationDisabled() ? 'button-blue-disabled' : 'button-blue-enabled'" (click)="generate()" class="button w-36">BUTTONS.GENERATE</button>
    <span *ngIf="estimateSize" class="ml-4">{{'PAGES.DIFF_CHANGER.ESTIMATE' | translate:({estimateSize: estimateSize})}}</span>
  </div>
</div>

<app-loading-bar *ngIf="generatingModal" [text]="'PAGES.DIFF_CHANGER.LOADING' | translate" mode="determinate" [percentage]="percentage"></app-loading-bar>
<app-help *ngIf="warning" [title]="'MISC.WARNING' | translate" [lines]="lines" (emitter)="hideWarning()"></app-help>
